.phpunit.cache/
assets/
config/
default_data/
docker/
logs/
vendor/
tmp/
webroot/coverage/
.vscode/
.env
dump.rdb

default_data/aiprompts.json
default_data/articles_tags.json
default_data/articles.json
default_data/attributes.json
default_data/comments.json
default_data/connectors.json
default_data/cookie_consents.json
default_data/email_templates.json
default_data/internationalisations.json
default_data/page_views.json
default_data/phinxlog.json
default_data/product_attributes.json
default_data/product_connectors.json
default_data/product_links.json
default_data/product_usages.json
default_data/products.json
default_data/settings.json
default_data/slugs.json
default_data/system_logs.json
default_data/tags_translations.json
default_data/tags.json
default_data/usages.json
default_data/users.json
docker/mysql/init_cords_custom.sql
docker/mysql/README.md
docker/mysql/unused/init_new_database.sql
docker/willowcms/Dockerfile
docker/willowcms/config/php/php.ini
hooks/.pre-push.sample
hooks/pre-push
plugins/MysqlNativePassword/webroot/.gitkeep
project_files_backups/files_backup_20250711_150039.tar.gz
project_files_backups/files_backup_20250711_192139.tar.gz
project_mysql_backups/.DS_Store
project_mysql_backups/db_dump_20250711_145945.sql
project_mysql_backups/db_dump_20250711_192128.sql
project_mysql_backups/db_dump_20250711_215956.sql
project_mysql_backups/dockerhub_volume_backup/willowcms_mysql_data.tar.gz
resources/locales/cake.pot
resources/locales/default.pot
resources/locales/bg_BG/default.po
resources/locales/cs_CZ/default.po
resources/locales/da_DK/default.po
resources/locales/de_DE/default.po
resources/locales/el_GR/default.po
resources/locales/es_ES/default.po
resources/locales/et_EE/default.po
resources/locales/fi_FI/default.po
resources/locales/fr_FR/default.po
resources/locales/hr_HR/default.po
resources/locales/hu_HU/default.po
resources/locales/it_IT/default.po
resources/locales/lt_LT/default.po
resources/locales/lv_LV/default.po
resources/locales/nl_NL/default.po
resources/locales/no_NO/default.po
resources/locales/pl_PL/default.po
resources/locales/pt_PT/default.po
resources/locales/ro_RO/default.po
resources/locales/ru_RU/default.po
resources/locales/sk_SK/default.po
resources/locales/sl_SI/default.po
resources/locales/sv_SE/default.po
resources/locales/tr_TR/default.po
resources/locales/uk_UA/default.po
