<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         executionOrder="random"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
        <env name="CAKE_ENV" value="test"/>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="-1" />
        <env name="FIXTURE_SCHEMA_METADATA" value="true"/>
        <env name="SECURITY_SALT" value="__SALT__"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="AdminTheme">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <!-- Load extensions -->
    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>

    <!-- Configure code coverage reporting -->
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <!-- Exclude any files that don't need coverage here -->
        </exclude>
    </source>
</phpunit>
